{% extends "base.html" %}
{% block content %}

<div class="row"></div>
<div class="row">
    <h5 class="center col l12 s8 offset-s2">Raisin will find dates for the following courses:</h5>
</div>
<div class="row">
    <form class="col l4 s8 offset-l4 offset-s2">
        <div class="row">
            <p>
                <label>
                    <input type="checkbox" class="filled-in" />
                    <span>COMP1911</span>
                </label>
            </p>
        </div>
        <div class="row">
            <p>
                <label>
                    <input type="checkbox" class="filled-in" checked="checked" />
                    <span>COMP1511</span>
                </label>
            </p>
        </div>
        <div class="row">
            <p>
                <label>
                    <input type="checkbox" class="filled-in" />
                    <span>SENG2021</span>
                </label>
            </p>
        </div>
        <div class="row">
            <p>
                <label>
                    <input type="checkbox" class="filled-in" />
                    <span>COMP2111</span>
                </label>
            </p>
        </div>
        <div class="divider"></div>
        <div class="row">
            <p>
                <label>
                    <input type="checkbox" class="filled-in" />
                    <span>Select all</span>
                </label>
            </p>
        </div>
        <div class="row center">
            <a class="btn waves-effect waves-light" href="{{ url_for('processing') }}">Next
                <i class="material-icons right">send</i>
            </a>
        </div>
    </form>
</div>

{% endblock %}
