{% extends "base.html" %}
{% block content %}

<div class="row"></div>
<div class="row">
    <h5 class="center col l12 s8 offset-s2">Raisin will find dates for the following courses:</h5>
</div>
<div class="row">
    <form class="col l4 s8 offset-l4 offset-s2" method="POST">
        {% for course in courses %}
        <div class="row">
            <p>
                <label>
                    <input type="checkbox" class="filled-in" name="{{ course.name }}" value="True"/>
                    <span>{{ course.name }}</span>
                    <br>
                </label>
            </p>
        </div>
        {% endfor %}
        <div class="divider"></div>
        <div class="row">
            <p>
                <label>
                    <input type="checkbox" class="filled-in" name="all" value="True" />
                    <span>Select all</span>
                </label>
            </p>
        </div><div class="row">
            <div class="input-field">
                <i class="material-icons prefix">add_circle</i>
                <input id="addcourse" type="text" name="addCourse" value="{{request.form.addCourse}}">
                <label for="addcourse">Add Course e.g. COMP1511</label>
            </div>
        </div>
        <div class="row center">
            <!-- <i class="material-icons right">send</i> CANNOT GET THE ARROW INSIDE LOGIN BUTTON -->
            <input class="waves-effect waves-light btn" value="Next" type="submit">
        </div>
    </form>
</div>
{% endblock %}
