{% extends "base.html" %}
{% block content %}

<nav class="nav-extended blue">
    <div class="nav-wrapper">
        <span class="center brand-logo bebastitle">Raisin</span>
        <ul id="nav-mobile" class="right">
            <li><a href="{{url_for('logout')}}">Log out</a></li>
        </ul>
    </div>
    <div class="nav-content center">
        <a href="{{url_for('courses')}}" class="breadcrumb">Courses</a>
        <a href="{{url_for('events')}}" class="breadcrumb">Events</a>
        <a href="#!" class="breadcrumb">Due Dates</a>
    </div>
</nav>

<div class="row"></div>
<div class="row">
    <h5 class="center col l12 s8 offset-s2">Due dates:</h5>
</div>
<div class="row">
    <div class="col l4 s8 offset-l4 offset-s2">
        {% for c in courses %}
        {% if c.selected %}
        <div class="row">
            <h6>{{c.name}}:</h6>
            {% for a in c.due_dates %}
            <li>{{a.name}} - {{a.week}}</li>
            {% endfor %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<div class="row">
    <h5 class="header center col l12 s8 offset-s2">Export to:</h5>
</div>
<div class="row">
    <div class="col l4 s8 offset-l4 offset-s2 center">
        <div class="row">
            <div class="col l6 s12">
                <p><button class="btn waves-effect waves-light full_width blue" type="submit" name="action">Google calendar</button></p>
            </div>
            <div class="col l6 s12">
                <p><button class="btn waves-effect waves-light full_width blue" type="submit" name="action">iCal</button></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}