{% extends "base.html" %}
{% block content %}

<nav class="nav-extended blue">
    <div class="nav-wrapper">
        <span class="center brand-logo bebastitle">Raisin</span>
        <ul id="nav-mobile" class="right">
            <li><a href="{{url_for('logout')}}">Log out</a></li>
        </ul>
    </div>
    <div class="nav-content center">
        <a href="{{url_for('courses')}}" class="breadcrumb">Courses</a>
        <a href="{{url_for('events')}}" class="breadcrumb">Events</a>
        <a href="#!" class="breadcrumb">Due Dates</a>
    </div>
</nav>

<div class="row"></div>
<div class="row">
    <div class="col l4 s8 offset-l4 offset-s2">
        <div class="row">
        {% for c in courses %}
        {% if c.selected %}
            <div class="col s12 l6">
                <div class="card {{c.color}}">
                    <div class="card-content white-text">
                        <span class="card-title">{{c.name}}:</span>
                        {% for a in c.due_dates %}
                        {% if a.week == "Exam Period" %}
                        <p>{{a.name}} - {{a.week}}</p>
                        {% else %}
                        <p>{{a.name}} - Week {{a.week}}</p>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>
</div>
<div class="row">
    <h5 class="header center col l12 s8 offset-s2">Export to:</h5>
</div>

<div class="row">
    <div class="col l4 s8 offset-l4 offset-s2 center">
        <div class="row">
            <div class="col l6 s12">
                <p>
                    <button onclick="activateGcal()" class="btn waves-effect waves-light blue full_width">Google Calender</button>
                </p>
            </div>
            <div class="col l6 s12">
                <p>
                    <a href="/calendar.ics">
                        <button class="btn waves-effect waves-light blue full_width">Apple Calendar</button>
                    </a>
                </p>
            </div>
            <div class="col l6 s12">
                <p>
                    <a href="/calendar.csv">
                        <button class="btn waves-effect waves-light blue full_width">CSV File</button>
                    </a>
                </p>
            </div>
            <div class="col l6 s12">
                <p>
                    <button onclick="activateEmail()" class="btn waves-effect waves-light blue full_width">Email</button>
                </p>
            </div>
        </div>
    </div>
</div>

{% if message %}
<script>M.toast({html: '{{message}}'})</script>
{% endif %}

<div id="modal1" class="modal">
    <form class="modal-content center" method="POST">
        <p>Please enter your Google verification code:</p>
        <div class="input-field">
            <i class="material-icons prefix">security</i>
            <input id="gid" type="text" name="gID">
            <label for="gid">Paste code here</label>
        </div>
        <button class="btn waves-effect waves-light blue modal-close" onclick="M.toast({html: 'Please wait...'})" type="submit" name="submit_gID">Done
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>

<div id="modal2" class="modal">
    <form class="modal-content center" method="POST">
        <p>By entering your email below, you'll be sent CSV and ICS files which you can import into your calendar later.</p>
        <div class="input-field">
            <i class="material-icons prefix">account_box</i>
            <input id="eadd" type="text" name="eAdd">
            <label for="eadd">Email address</label>
        </div>
        <button class="btn waves-effect waves-light blue modal-close" onclick="M.toast({html: 'Please wait...'})" type="submit" name="submit_eAdd">Done
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/dueDateFuncs.js') }}"></script>


{% endblock content %}
