{% extends "base.html" %}
{% block content %}

<nav class="nav-extended teal lighten-2">
    <div class="nav-wrapper">
        <span class="center brand-logo bebastitle">Raisin</span>
        <ul id="nav-mobile" class="right">
            <li><a href="{{url_for('logout')}}">Log out</a></li>
        </ul>
    </div>
    <div class="nav-content center">
        <a href="{{url_for('courses')}}" class="breadcrumb">Courses</a>
        <a href="#!" class="breadcrumb">Events</a>
    </div>
</nav>

<div class="row"></div>
<container id="content" class="content">
    <div class="row">
        <h5 class="center col l12 s8 offset-s2">Raisin will include dates for the following events:</h5>
    </div>
    <div class="row">
        <form class="col l4 s8 offset-l4 offset-s2" method="POST">
            <div class="row">
                <p>
                    <label>
                        <input type="checkbox" class="filled-in" name="assignments" checked disabled/>
                        <span>Assignments</span>
                    </label>
                </p>
            </div>
            <div class="row">
                <p>
                    <label>
                        <input type="checkbox" class="filled-in" name="exams" checked disabled/>
                        <span>Exams</span>
                    </label>
                </p>
            </div>
            <div class="row">
                <p>
                    <label>
                        <input type="checkbox" class="filled-in" name="milestones" checked disabled/>
                        <span>Project milestones</span>
                    </label>
                </p>
            </div>
            <div class="row">
                <p>
                    <label>
                        <input type="checkbox" class="filled-in" name="labs" checked disabled/>
                        <span>Labs</span>
                    </label>
                </p>
            </div>
            <div class="row center">
                <button class="btn waves-effect waves-light" type="submit" name="action" onclick="showLoader()">Next
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</container>
<container id="loader" class="loader">
    <div class="row">
        <div class="row"></div>
        <div class="col l4 s8 offset-l4 offset-s2 center">
            <h5>Processing...</h5>
            <div class="progress">
                <div class="indeterminate"></div>
            </div>
            <p>This could take a while. Please wait.</p>
        </div>
    </div>
</container>
<script type="text/javascript" src="{{ url_for('static', filename='js/loader.js') }}"></script>
{% endblock %}