{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="center col l12 s8 offset-s2">
        <h1 class="bebastitle">Raisin</h1>
        <h5>See all your WebCMS3 due dates in one place</h5>
    </div>
</div>
<div class="row">
    <form class="col l4 s8 offset-l4 offset-s2" method="POST">
        <div class="row">
            <div class="input-field">
                <i class="material-icons prefix">account_box</i>
                <input id="zid" type="text" name="zID" value="{{request.form.zID}}">
                <label for="zid">zID</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <i class="material-icons prefix">security</i>
                <input id="zpass" type="Password" name="zPass" value="{{request.form.zPass}}">
                <label for="zpass">zPass</label>
            </div>
        </div>
        <div class="row center">
            <!-- <i class="material-icons right">send</i> CANNOT GET THE ARROW INSIDE LOGIN BUTTON -->
            <input class="waves-effect waves-light btn" value="Log In" type="submit">
        </div>
    </form>
</div>

{% endblock %}
