{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="center col l12 s8 offset-s2">
        <h1 class="bebastitle">Raisin</h1>
        <h5>See all your WebCMS3 due dates in one place</h5>
    </div>
</div>
<div class="row">
    <form class="col l4 s8 offset-l4 offset-s2">
        <div class="row">
            <div class="input-field">
                <i class="material-icons prefix">account_box</i>
                <input id="zid" type="text">
                <label for="zid">zID</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <i class="material-icons prefix">security</i>
                <input id="password" type="password">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row center">
            <a class="waves-effect waves-light btn" href="{{ url_for('courses') }}">Log in
                <i class="material-icons right">send</i>
            </a>
        </div>
    </form>
</div>

{% endblock %}
