{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="center col l12 s8 offset-s2">
        <h1 class="bebastitle">Raisin</h1>
        <h5>See all your WebCMS3 due dates in one place</h5>
    </div>
</div>
<div class="row">
    <form class="col l4 s8 offset-l4 offset-s2" method="POST">
        <div class="row">
            <div class="input-field">
                <i class="material-icons prefix">account_box</i>
                <input id="zid" type="text" name="zid" value="{{request.form.zid}}">
                <label for="zid">zID</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <i class="material-icons prefix">security</i>
                <input id="password" type="Password" name="password" value="{{request.form.password}}">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row center">
            <button class="btn waves-effect waves-light" type="submit" name="action">Log in
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>
{% if error %}
<div class="row">
    <div class="center col l12 s8 offset-s2">
        <h5>Incorrect login.</h5>
    </div>
</div>
{% endif %}
{% endblock %}