{% extends "base.html" %}
{% block header %}

<meta http-equiv="refresh" content="3;url={{ url_for('duedates') }}" />

{% endblock header %}

{% block content  %}

<div class="row">
    <div class="row"></div>
    <div class="col l4 s8 offset-l4 offset-s2 center">
        <h5>Processing...</h5>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        <p>This could take a while. Please wait.</p>
    </div>
</div>

        <!-- <div class="footer">
            <span>created by digital_invention</span>
        </div> -->

{% endblock content %}
